@charset "utf-8";

@import url("http://fonts.googleapis.com/css?family=PT+Mono");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300&subset=latin,cyrillic");

$ctrls-rad: 17px;
$ctrls-height: 35px;
$speed-control-width: 288px;
$body-margin: 60px;
$input-width: 228px;

@mixin round-bords($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}

%os-regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

%os-thin {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

%os-thin-italic {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

body {
  font-size: 16pt;
  margin: $body-margin;
  background: gray;
  overflow: hidden;
  -webkit-user-select: none; /* Chrome/Safari */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
       -o-user-select: none;
          user-select: none;
}

.image {
  z-index: -1;
  position: absolute;
  display: none;
}

.speed-control {
  padding: 1px 0 0 0;
  margin: 0 60px 60px 0;
  height: $ctrls-height - 1px;
  width: $speed-control-width;
  background: red;
  display: inline-block;
  @include round-bords($ctrls-rad);
  button {
    padding: 2px 0 4px 0;
    margin: 1px 22px 0 22px;
    border: none;
    background: none;
    color: white;
    font-size: 16pt;
    cursor: pointer;
    @extend %os-thin;
    &:focus {
      outline: none;
    }
    &.selected {
      background: #fab9b9;
      height: $ctrls-height - 4px;
      cursor: auto;
      padding: 0 12px 0 12px;
      margin: 1px 4px 0 4px;
      color: red;
      @extend %os-regular;
      @include round-bords($ctrls-rad - 3px);
    }
  &.slow {
    position: absolute;
    left: 58px;
  }
  &.normal {
    position: absolute;
    left: 152px;
  }
  &.high {
    position: absolute;
    left: 273px;
  }
  }
}

.tags-input {
  padding: 0 40px 0 20px;
  margin: 0;
  position: absolute;
  top: 60px;
  left: $body-margin + $speed-control-width + 60px;
  height: $ctrls-height;
  width: $input-width;
  display: inline-block;
  border: none;
  outline: none;
  background: blue;
  font-style: italic;
  font-size: 16pt;
  color: white;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
  @include round-bords($ctrls-rad);
  @extend %os-thin-italic;
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: white;
  }
  &:-moz-placeholder {
    color: white;
  }
}

.add {
  cursor: pointer;
  background: #ebebff;
  border: none;
  position: absolute;
  top: 63px;
  left: 664px;
  height: $ctrls-height - 6px;
  width: $ctrls-height - 6px;
  @include round-bords($ctrls-rad - 4px);
  &:focus {
    outline: none;
  }
  .cross {
    background: none;
    border: none;
    margin: 0;
    .cross-one {
      height: 17px;
      width: 3px;
      background: blue;
      position: absolute;
      top: 6px;
      left: 14px;
    }
    .cross-two {
      height: 3px;
      width: 17px;
      background: blue;
      position: absolute;
      top: 13px;
      left: 7px;
    }
  }
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: raw;
          flex-direction: raw;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  z-index: 0;
  position: absolute;
  top: 58px;
  left: $body-margin + $speed-control-width + 60px + $input-width + 58px;
  margin: 0 60px 0 60px;
  .tag-item {
    -webkit-flex: wrap;
    flex: wrap;
    cursor: url(image-path("cur_X.png")) 23 23, not-allowed;
    height: $ctrls-height;
    border: none;
    background: blue;
    color: white;
    font-size: 16pt;
    padding: 0 20px 0 20px;
    margin: 2px;
    overflow: hidden;
    @extend %os-thin;
    @include round-bords($ctrls-rad);
    &:focus {
      outline: none;
    }
    p {
      @extend %os-thin;
      display: inline-block;
      text-align: left;
      margin: 5px 0 0 0;
      padding: 0;
      vertical-align: middle;
      line-height: 130%;
    }
  }
}

.control {
  padding: 0;
  margin: 0;
  border: none;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -121px -121px;
  height: 242px;
  width: 242px;
  cursor: pointer;
  @include round-bords(121px);
  .pause {
    position: relative;
    left: 75px;
    top: 50px;
    width: 100px;
    height: 142px;
    .pause-one {
      height: 142px;
      width: 30px;
      background: rgba(255, 255, 255, 0.7);
    }
    .pause-two {
      height: 142px;
      width: 30px;
      background: rgba(255, 255, 255, 0.7);
      position: relative;
      left: 62px;
      top: -142px;
    }
  }
  .play {
    width: 0;
    height: 0;
    border-top: 71px solid transparent;
    border-bottom: 71px solid transparent;
    border-left: 110px solid rgba(255, 255, 255, 0.7);
    position: relative;
    left: 82px;
    top: 50px;
  }
}

#logo {
  font-family: "PT Mono";
  font-style: bold;
  font-weight: 600;
  font-size: 22pt;
  text-decoration: none;
  color: black;
  cursor: url(image-path("cur_i.png")) 25 25, not-allowed;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 60px;
  left: 60px;
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      -ms-transform: rotate(180deg); /* IE 9 */
          transform: rotate(180deg);
}

iframe {
  display: inline-block;
  position: absolute;
  bottom: 65px;
  left: 200px;
}

.about {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: block;
  .about-text {
    margin: 40px auto;
    width: 80%;
    height: 30%;
    text-align: center;
    p {
      margin: 20px;
      @extend %os-thin;
      font-size: 13pt;
      color: white;
    }
  }
  h1.team {
    margin: 0 auto;
    width: fixed;
    width: 500px;
    height: 25%;
    @extend %os-thin;
    font-size: 56pt;
    letter-spacing: 100px;
    color: white;
  }
  img.team {
    display: block;
    width: fixed;
    width: 824px;
    height: 25%;
    margin: 0 auto;
  }
  .close-about {
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 40px;
    .cross-one {
      height: 50px;
      width: 10px;
      background: red;
      position: relative;
      left: 20px;
      top: 0px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    .cross-two {
      height: 10px;
      width: 50px;
      background: red;
      position: relative;
      left: 0;
      top: -30px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
}