@charset "utf-8";

$ctrls-rad: 17px;
$ctrls-height: 35px;
$speed-control-width: 288px;
$body-margin: 60px;
$input-width: 228px;

@mixin round-bords($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}

%hn-regular {
  font-family: "HelveticaNeueRegular", "Helvetica Neue Regular", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", Arial, sans-serif;
  font-weight: 300;
  font-stretch: normal;
}

%hn-thin {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", Arial, sans-serif;
  font-weight: 200;
  font-stretch:normal;
}

%hn-ultra {
  font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", Arial, sans-serif;
  font-weight: 100;
  font-stretch:normal;
}

body {
  font-size: 16pt;
  margin: $body-margin;
  @extend %hn-regular;
  background: gray;
  overflow: hidden;
}

a {
  color: red;
  text-decoration: none;
  border-bottom: 2px solid red;
}

.image {
  z-index: -1;
  position: absolute;
  display: none;
}

.speed-control {
  padding: 1px 0 0 0;
  margin: 0 60px 60px 0;
  height: $ctrls-height - 1px;
  width: $speed-control-width;
  background: red;
  display: inline-block;
  @include round-bords($ctrls-rad);
  button {
    padding: 0;
    margin: 1px 22px 0 22px;
    border: none;
    background: none;
    color: white;
    font-size: 16pt;
    cursor: pointer;
    @extend %hn-thin;
    &:focus {
      outline: none;
    }
    &.selected {
      background: #fab9b9;
      height: $ctrls-height - 4px;
      cursor: auto;
      padding: 0 17px 0 18px;
      margin: 1px 4px 0 4px;
      color: red;
      @extend %hn-regular;
      @include round-bords($ctrls-rad - 3px);
    }
  }
}

.tags-input {
  padding: 0 40px 0 20px;
  margin: 0;
  position: absolute;
  top: 60px;
  left: $body-margin + $speed-control-width + 60px;
  height: $ctrls-height;
  width: $input-width;
  display: inline-block;
  border: none;
  background: blue;
  font-style: italic;
  font-size: 16pt;
  color: white;
  @include round-bords($ctrls-rad);
  @extend %hn-ultra;
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: white;
  }
  &:-moz-placeholder {
    color: white;
  }
}

.add {
  cursor: pointer;
  background: #ebebff;
  border: none;
  position: absolute;
  top: 63px;
  left: 664px;
  height: $ctrls-height - 6px;
  width: $ctrls-height - 6px;
  @include round-bords($ctrls-rad - 4px);
  &:focus {
    outline: none;
  }
  .cross {
    background: none;
    border: none;
    margin: 0;
    .cross-one {
      height: 17px;
      width: 3px;
      background: blue;
      position: absolute;
      top: 6px;
      left: 14px;
    }
    .cross-two {
      height: 3px;
      width: 17px;
      background: blue;
      position: absolute;
      top: 13px;
      left: 7px;
    }
  }
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: raw;
  flex-direction: raw;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  z-index: 0;
  position: absolute;
  top: 58px;
  left: $body-margin + $speed-control-width + 60px + $input-width + 58px;
  margin: 0 60px 0 60px;
  .tag-item {
    -webkit-flex: wrap;
    flex: wrap;

    cursor: pointer;
    height: $ctrls-height;
    border: none;
    background: blue;
    color: white;
    font-size: 16pt;
    font-style: italic;
    padding: 0 20px 0 20px;
    margin: 2px;
    overflow: hidden;
    @extend %hn-ultra;
    @include round-bords($ctrls-rad);
    &:focus {
      outline: none;
    }
    p {
      @extend %hn-ultra;
      display: inline-block;
      text-align: left;
      margin: 5px 0 0 0;
      padding: 0;
      vertical-align: middle;
      line-height: 130%;
    }
    .remove {
      height: 29px;
      width: 29px;
      background: #a0a0ff;
      display: inline-block;
      position: relative;
      top: 2px;
      left: 17px;
      vertical-align: middle;
      @include round-bords($ctrls-rad - 4px);
      .cross {
        background: none;
        border: none;
        margin: 0;
        .cross-one {
          height: 17px;
          width: 3px;
          background: blue;
          position: absolute;
          top: 6px;
          left: 14px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
        .cross-two {
          height: 3px;
          width: 17px;
          background: blue;
          position: absolute;
          top: 13px;
          left: 7px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
    }
  }
}

.control {
  padding: 0;
  margin: 0;
  border: none;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -121px -121px;
  height: 242px;
  width: 242px;
  cursor: pointer;
  @include round-bords(121px);
  .pause {
    position: relative;
    left: 75px;
    top: 50px;
    visibility: hidden;
    .pause-one {
      height: 142px;
      width: 30px;
      background: rgba(255, 255, 255, 0.7);
    }
    .pause-two {
      height: 142px;
      width: 30px;
      background: rgba(255, 255, 255, 0.7);
      position: relative;
      left: 62px;
      top: -142px;
    }
  }
  .play {
    width: 0;
    height: 0;
    border-top: 71px solid transparent;
    border-bottom: 71px solid transparent;
    border-left: 110px solid rgba(255, 255, 255, 0.7);
    position: relative;
    left: 82px;
    top: -232px;
  }
}

#about {
  cursor: pointer;
  font-size: 22pt;
  position: absolute;
  bottom: 60px;
  left: 60px;
}

.about {
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: none;
  p {
    @extend %hn-regular;
    color: white;
    margin: 200px auto;
    width: 60%;
  }
  .close-about {
    cursor: pointer;
    @include round-bords(42px);
    background: rgb(50, 50, 50);
    height: 85px;
    width: 85px;
    float: right;
    margin: 40px;
    .cross-one {
      height: 50px;
      width: 7px;
      background: red;
      position: relative;
      left: 40px;
      top: 19px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    .cross-two {
      height: 7px;
      width: 50px;
      background: red;
      position: relative;
      left: 18px;
      top: -10px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}